.container {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 50px;
    background-color: aqua;padding: 20px;
    width: fit-content;
    
}
.buttons {
    display: flex;
    justify-content: center;
}